<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aldo.aget.rsadmin">

    <!-- Red -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- SMS -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoBar">

        <!-- android:label="@string/app_name" -->
        <!-- android:theme="@style/AppTheme.NoActionBar" -->
        <!-- android:theme="@style/AppTheme.NoActionBar"> -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
        <activity
            android:name=".arecycler.Obtener"
            android:label="@string/title_activity_obtener"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".arecycler.Enviar"
            android:label="@string/title_activity_enviar"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".arecycler.Test"
            android:label="@string/title_activity_test"
            android:theme="@style/AppTheme" />
        -->
        <activity
            android:name=".Vistas.ListaEmpresa"
            android:label="@string/title_activity_lista_empresa"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Vistas.ListaGps"
            android:label="@string/title_activity_lista_gps"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Vistas.GestionGps"
            android:label="@string/title_activity_activity_gps"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Vistas.GestionArrendatarioCliente"
            android:label="@string/title_activity_activity_empresa_cliente"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Vistas.GpsDepartamento"
            android:label="@string/title_activity_activity_gpsempresa"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Vistas.GestionUsuarios"
            android:label="@string/title_activity_clientes_empresa"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Vistas.GpsDepartamentoDetalle"
            android:label="@string/title_activity_gps_empresa_detalle"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Vistas.UsuariosEmpresa"
            android:label="@string/title_activity_usuarios_empresa"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Vistas.GestionDepartamento"
            android:label="@string/title_activity_gestion_departamento"
            android:theme="@style/AppThemeNoBar" />
        <activity
            android:name=".Vistas.ListaDepartamento"
            android:label="@string/title_activity_lista_departamento"
            android:theme="@style/AppThemeNoBar" />
        <activity
            android:name=".Vistas.ListaUsuarios"
            android:label="@string/title_activity_lista_usuarios"
            android:theme="@style/AppThemeNoBar" />
        <activity
            android:name=".Vistas.GestionAdministrador"
            android:label="@string/title_activity_gestion_administrador"
            android:theme="@style/AppThemeNoBar"></activity>

        <receiver android:name=".Receiver.SMSReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>